:root {   
    /*DARK MODE*/
    --dark-background-color:#023047;
    --dark-text-color: whitesmoke;
    --dark-navbar-background-color:#001824;
    --dark-navbar-text-color:whitesmoke;
    --dark-navbar-hover-background-color: #219ebc;
}