:root {
    /*LIGHT MODE*/
    --light-background-color:#caf0f8;
    --light-text-color: black;
    --light-navbar-background-color:#219ebc;
    --light-navbar-text-color:black;
    --light-navbar-hover-background-color: #023047;
}