:root {
    /*LIGHT MODE*/
    --light-background-color:#caf0f8;
    --light-text-color: black;
    --light-navbar-background-color:#219ebc;
    --light-navbar-text-color:black;
    --light-navbar-hover-background-color: #023047;

    /*DARK MODE*/
    --dark-background-color:#023047;
    --dark-text-color: whitesmoke;
    --dark-navbar-background-color:#001824;
    --dark-navbar-text-color:whitesmoke;
    --dark-navbar-hover-background-color: #219ebc;
}