
.index,.steak,.potatoes,.mushrooms{
   background-color: var(--light-background-color);
  
}

.nav-index {
    display: flex;    
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;    
    background-color: var(--light-navbar-background-color);
    color: var(--light-navbar-text-color);
    margin: 0;
    height: 80px;    

}

nav>ul>li {
    margin-right: 2rem;
    color: black;

    overflow: hidden;
}

nav>ul>li>a {
    display: block;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
    cursor: pointer;
}

nav>ul>li>a:hover {
    background-color: var(--light-navbar-hover-background-color);
    color: whitesmoke;
}
nav>ul>li>button {

}
    